* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*mobie first*/
@media(min-width: 360px) {
.dawn {
background-size: cover;
background-repeat:no-repeat;
background-position: center;
height: 100px;
}
.kitten-small{
background-image: url(../assets/kitten-small.png);
position: relative;
margin-top: 30%;
height:200px;
width: 100%;
margin-left: 50%;
}
.kitten-medium, .kitten-large{
display: none;
}
.sunny .night{
  display: none;
}
}

/*tablets*/

@media(min-width: 768px) {
.sunny {
background-repeat:no-repeat;
background-position: center;
height: 100px;
}
.kitten-medium{
background-image: url(../assets/kitten-medium.png);
position: relative;
margin-top: 30%;
height:300px;
width: 100%;
left: 50%;
}
.kitten-small, .kitten-large{
  display: none;
}
.dawn .night{
  display: none;
}
}
/*desktops*/

@media(min-width:1024px){
.night {
background-repeat:no-repeat;
background-position: center;
height: 100vh;
}
.kitten-large{
background-image: url(..assets/kitten-large.png);
position: relative;
margin-top: 30%;
height:400px;
width: 100%;
margin-left: 50%;
}
.kitten-medium, .kitten-small{
  display: none;
}
.dawn .sunny{
  display: none;
}
}
